[defaults]
inventory = inventory/hosts.ini
remote_user = ubuntu
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml

# SSH over SSM
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root
